.links {
    display:flex;
    flex-direction: row;
    /* justify-content:center; */
    color: whitesmoke
    /* align-items: center; */
 
}

a {
    color:white
}

.a1 {
    padding-right:.5rem;
}

.d-block {
    color:black
}

.mb-4 {
    text-align: justify;
}

.no-gutters {
    padding-bottom: 1rem;
}
.portfolio-box-caption {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: .6rem;
    margin-right: .6rem;
}

.project-info {
    margin-bottom: 1rem;
}
.img-fluid {
 padding-top: .8rem;
 padding-left: .6rem;
 padding-right: .6rem;
 
}

.btn-xl{
    padding: .75rem 1rem;
    border-radius: 1rem;
    background: #f8f9fa;
    color: black;
}




